/**
 * General Layout
 */

@media screen and (min-width: 768px) {
	.is-boxed .site {
		max-width: 76.5em;
		margin: 0 auto;
	}

	.is-full-width.is-boxed .site {
		margin: 0 2.625em;
	}

	.is-full-width .site {
		max-width: 100%;
	}

	.site-header {
		.site-branding,
		.site-logo-anchor,
		.site-logo-link {
			display: block;
			@include span(4 of 12);
			clear: both;

			img {
				height: auto;
				max-width: 100%;
				max-height: none;
			}
		}

		.secondary-navigation {
			@include span(last 8 of 12);
		}

		.secondary-navigation-wrap {
			.secondary-navigation {
				@include span(full);
			}
		}

		.main-navigation {
			@include span(full);
			clear: both;
		}
	}
	
	.site-info {
		.site-logo-link {
			display: block;
			@include span(4 of 12);
			clear: both;

			img {
				height: auto;
				max-width: 100%;
				max-height: none;
			}
		}

		.credit {
			@include span(last 8 of 12);
		}
	}

	.site-branding {
		.site-description {
			margin-bottom: 0;
			display: block;
		}
	}

	.site-branding,
	.site-header-cart,
	.site-logo-anchor {
		margin-bottom: 1em;
	}

	.site-content {
		@include clearfix;
	}

	.right-sidebar {
		.content-area {
			@include span(9 of 12);
		}

		.widget-area {
			@include span(last 3 of 12);
		}

		&.grid-alt {
			.content-area {
				@include span(8 of 12);
			}

			.widget-area {
				@include span(last 4 of 12);
			}
		}
	}

	.left-sidebar {
		.content-area {
			@include span(last 9 of 12);
		}

		.widget-area {
			@include span(3 of 12);
		}
		
		&.grid-alt {
			.content-area {
				@include span(last 8 of 12);
			}

			.widget-area {
				@include span(4 of 12);
			}
		}
	}

	.archetype-full-width-content {
		.content-area {
			@include span(full);
		}
		&.grid-alt {
			.content-area {
				@include span(full);
			}
		}
	}

	.content-area,
	.widget-area {
		margin-bottom: 2.625em;
	}

	/**
	 * Full width & homepage template
	 */
	.page-template-template-homepage {
		.content-area {
			margin-bottom: 0;
		}
	}

	.page-template-template-fullwidth-php,
	.page-template-template-homepage-php {
		.content-area {
			@include span(full);
		}
		&.grid-alt {
			.content-area {
				@include span(full);
			}
		}
	}
	
	.error-404 {
		@include span(isolate 8 at 3);
	}

	/**
	 * Dynamic widget regions
	 */
	.dynamic-widget-regions {
		@include clearfix;

		&.col-2 {
			.dynamic-widget-region {
				@include span(6 of 12);

				&.last {
					@include last;
				}
			}
		}

		&.col-3 {
			.dynamic-widget-region {
				@include span(4 of 12);

				&.last {
					@include last;
				}
			}
		}

		&.col-4 {
			.dynamic-widget-region {
				@include span(3 of 12);

				&.last {
					@include last;
				}
			}
		}
	}
}

@media screen and (min-width: 74em) {
	.error-404 {
		@include span(isolate 6 at 4);
	}
}
