// Icons

.#{$ai-css-prefix}-arrow-down:before { content: $ai-var-arrow-down; }
.#{$ai-css-prefix}-arrow-down-left:before { content: $ai-var-arrow-down-left; }
.#{$ai-css-prefix}-arrow-down-right:before { content: $ai-var-arrow-down-right; }
.#{$ai-css-prefix}-arrow-up:before { content: $ai-var-arrow-up; }
.#{$ai-css-prefix}-arrow-up-left:before { content: $ai-var-arrow-up-left; }
.#{$ai-css-prefix}-arrow-up-right:before { content: $ai-var-arrow-up-right; }
.#{$ai-css-prefix}-arrow-left:before { content: $ai-var-arrow-left; }
.#{$ai-css-prefix}-arrow-right:before { content: $ai-var-arrow-right; }
.#{$ai-css-prefix}-no-repeat:before { content: $ai-var-no-repeat; }
.#{$ai-css-prefix}-repeat-x:before { content: $ai-var-repeat-x; }
.#{$ai-css-prefix}-repeat-y:before { content: $ai-var-repeat-y; }
.#{$ai-css-prefix}-repeat:before { content: $ai-var-repeat; }
.#{$ai-css-prefix}-layout-left-sidebar:before { content: $ai-var-layout-left-sidebar; }
.#{$ai-css-prefix}-layout-no-sidebar:before { content: $ai-var-layout-no-sidebar; }
.#{$ai-css-prefix}-layout-right-sidebar:before { content: $ai-var-layout-right-sidebar; }
