// Variables

$ai-font-path:        "../fonts" !default;
$ai-font-family:      ArchetypeIcons !default;
$ai-font-size-base:   16px !default;
$ai-line-height-base: 1 !default;
$ai-css-prefix:       archetype-icons !default;
$ai-version:          "1.0.0" !default;

$ai-var-arrow-up-left: "\e600";
$ai-var-arrow-up: "\e601";
$ai-var-arrow-up-right: "\e602";
$ai-var-arrow-right: "\e603";
$ai-var-arrow-down-right: "\e604";
$ai-var-arrow-down: "\e605";
$ai-var-arrow-down-left: "\e606";
$ai-var-arrow-left: "\e607";
$ai-var-no-repeat: "\e608";
$ai-var-repeat-x: "\e609";
$ai-var-repeat-y: "\e610";
$ai-var-repeat: "\e611";
$ai-var-layout-left-sidebar: "\e612";
$ai-var-layout-no-sidebar: "\e613";
$ai-var-layout-right-sidebar: "\e614";