/**
 * Imports
 */
@import 'bourbon';
@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';

/**
 * Customizer & Widgets Import
 */

.customize-import-form,
.widgets-import-form {
  position: absolute;
  left: -99999px;
}

.customize-import-file,
.widgets-import-file {
  background: #eee;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 12px;
}

.customize-import-images,
.widgets-import-images {
  display: block;
  margin-bottom: 10px;
}

.customize-import-uploading,
.widgets-import-uploading {
  background: #eee;
  display: none;
  margin: 10px 0;
  padding: 10px;
  font-size: 12px;
}