// Susy
@import 'node_modules/susy/sass/susy';

$susy: (
	columns: 12,
	gutters: .25,
	math: fluid,
	output: float,
	gutter-position: inside
);

@import 'font/variables';
@import 'font/path';
@import 'font/core';
@import 'font/icons';

/**
 * Radio Image Control
 */

.customize-control-radio-image {
	@include container(100%);

	input[type=radio] {
		height: auto;
	}

	label {
		color: #9fa5aa;
		display: inline-block;
		margin-bottom: gutter();

		.ui-button-text,
		img {
			display: block;
			float: left;
			max-width: 100%;
		}

		.ui-button-text {
			background: #fafafa;
			border: 1px solid #e5e5e5;
		}

		img {
			height: auto;
			opacity: 1;
		}

		&.ui-state-hover,
		&.ui-state-active,
		&:focus {
			outline: none;

			.ui-button-text {
				border-color: #999;
			}

			img {
				opacity: 1;
			}
		}

		&:focus {
			.ui-button-text {
				-webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
				box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
			}
		}
	}

	.columns-1 {
		label {
			@include span(full);
			margin-bottom: gutter(6);
		}
	}

	.columns-2 {
		label {
			@include span(6 of 12);
		}
	}

	.columns-3 {
		label {
			@include span(4 of 12);
		}
	}

	.columns-4 {
		label {
			@include span(3 of 12);
		}
	}
}

/**
 * Radio Icon Control
 */

.customize-control-radio-icon {
	@include container(100%);

	.column-row {
		float: left;
		width: 100%;
	}

	input[type=radio] {
		height: auto;
	}

	label {
		color: #9fa5aa;
		display: block;
		float: left;
		font-size: 16px;
		height: 44px;
		width: 44px;
		margin-bottom: 5px;
		margin-right: 5px;

		.ui-button-text {
			background: #fafafa;
			border: 1px solid #e5e5e5;
			display: block;
			height: 42px;
			width: 42px;
		}

		i {
			display: block;
			line-height: 42px;
			text-align: center;
		}

		&.ui-state-hover,
		&.ui-state-active,
		&:focus {
			outline: none;

			.ui-button-text {
				border-color: #999;
			}
		}

		&:focus {
			.ui-button-text {
				-webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
				box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
			}
		}
	}
	
	.large-icons {
		label {
			font-size: 32px;
			height: 60px;
			width: 60px;

			.ui-button-text {
				height: 58px;
				width: 58px;
			}
			i {
				line-height: 58px;
			}
		}
	}
}

/**
 * Component Order Control
 */

.customize-control-component-order {
	margin-bottom: 0;

	ul.component-order {
		margin: 12px 0;
		overflow-y: auto;

		li {
			padding: 12px 15px 13px 15px;
			background: #fafafa;
			color: #222;
			font-size: 1em;
			font-weight: 600;
			border: 1px solid #e5e5e5;
			cursor: move;
			line-height: 1.4;
			margin-bottom: 12px;
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);

			&:hover {
				border-color: #999;
				-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
			}

			.component-visibility {
				display: inline-block;
				width: 16px;
				height: 16px;
				position: relative;
				font-size: 0;
				cursor: pointer;
				border: 1px solid #ddd;
				background-color: #fff;
				float: left;
				margin-right: 12px;
				border-radius: 2px;

				&:focus {
					-webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
					box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
				}

				&:before {
					-webkit-font-smoothing: antialiased;
					font: normal 14px/1 'dashicons';
					content: "\f147";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					line-height: 16px;
					text-align: center;
				}
			}

			&.disabled {
				.component-visibility:before {
					content: "";
				}
			}
		}
	}
}
