@import 'config';

/**
 * WooCommerce Variation Swatches
 */

.variations-table {
	tr {
		td {
			background: none;
			padding: 0;

			&.label {
				width: 5em;
			}
		}
	}

	.swatch-wrapper {
		padding: 0;
		border: 0;

		.swatch-anchor {
			border-radius: .236em;
		}

		&:hover {
			opacity: .75;
		}

		&.selected,
		&:hover {
			padding: 0;
			border: 0;
		}
	}
}

#variations_clear {
	display: block;
	margin-bottom: 1em;
}