/**
 * Global styles
 */

* {
	box-sizing: border-box;
}

html {
	background-color: $color-footer-lower-bg;
}

body {
	background-color: $color-body-bg;
	overflow-x: hidden;
}

/**
 * Header
 */
.site-header {
	background-color: $color-header-bg;
	color: $color-header;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 999;

	.col-full {
		position: relative;
	}

	a {
		color: $color-header-link;

		&:hover {
			color: $color-header-link-hover;
		}
	}

	.site-branding,
	.site-logo-anchor,
	.site-logo-link {
		float: left;
		margin: 1.618em 0;

		img {
			width: auto;
		}
	}

	.widget {
		margin-bottom: 0;
	}
}

#masthead > .col-full {
	@include clearfix;
}

.no-wc-breadcrumb:not(.page-template-template-homepage) {
	.site-header {
		margin-bottom: 2.625em;
	}
}

.archetype-has-header-widgets {
	.site-header {
		margin-bottom: 0 !important;
	}
}

.header-widget-region {
	position: relative;
	z-index: 99;
}

.site-branding {
	h1 {
		font-size: 1.618em;
		font-weight: 700;
		margin: 0;

		a {
			display: block;
		}
	}

	.site-description {
		font-size: .857em;
		display: none;
	}
}

/**
 * Main content area
 */
.site-main {}

.site-content {
	outline: none;
}

/**
 * Footer
 */
.site-footer {
	background-color: $color-footer-bg;
	color: $color-footer;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $color-footer-heading;
	}

	a:not(.button) {
		color: $color-footer-link;

		&:hover {
			color: $color-footer-link-hover;
		}

		&:focus {
			outline: 1px dotted $color-footer-link;
		}
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.site-info {
	background-color: $color-footer-lower-bg;
	color: $color-footer-lower;
	padding: 2.625em 0;

	.site-logo-link {
		display: block;
		margin-bottom: 1em;

		.site-logo,
		.svg-site-logo {
			margin: 0 auto;
		}
	}

	.credit {
		text-align: center;
	}
	
	a:not(.button) {
		color: $color-footer-lower-link;

		&:hover {
			color: $color-footer-lower-link-hover;
		}

		&:focus {
			outline: 1px dotted $color-footer-lower-link;
		}
	}
}

/**
 * Alignment
 */
.alignleft {
	display: inline;
	float: left;
	margin-right: $spacing-v;
}
.alignright {
	display: inline;
	float: right;
	margin-left: $spacing-v;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/**
 * Accessibility
 */
.screen-reader-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	
	&:focus {
		outline: 0;
	}
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	display: block;
	font-weight: bold;
	height: auto;
	left: 0;
	line-height: normal;
	padding: 1em 1.618em;
	text-decoration: none;
	top: 0;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/**
 * Clearing
 */
.clear,
.entry-content,
.comment-content,
.site-header,
.site-content,
.site-footer {
	@extend %clearfix;
}

/**
 * Fix ugly outlines
 */
[tabindex="-1"]:focus {
	outline: 0;
}

/**
 * Tables
 */
table {
	border-spacing: 0;
	width: 100%;
	border-collapse: separate;

	caption {
		padding: 1em 0;
		font-weight: 700;
	}

	td,
	th {
		padding: .875em 1.387em;
		text-align: left;
		vertical-align: top;

		p:last-child {
			margin-bottom: 0;
		}
	}

	thead {
		th {
			border-bottom: 1px solid $color-post-border;
			text-transform: uppercase;
			padding: 1.387em;
			vertical-align: middle;
		}
	}

	tbody {
		tr:nth-child(2n) {
			td {
				background: rgba(0,0,0,0.015);

				&:last-child {
					border-right: 0;
				}
			}
		}

		td {
			background: rgba(0,0,0,0.025);
		}

		h2 {
			font-size: 1em;
			letter-spacing: normal;
			font-weight: normal;

			a {
				font-weight: normal;
			}
		}

		tr:last-child {
			td {
				border-bottom: 0;
			}

			th:first-child {
				border-bottom: 0;
			}
		}
	}

	tfoot {
		th,
		td {
			border-top:1px dotted $color-post-border;
		}
	}
}

@media screen and (max-width: 568px) {
	.no-wc-breadcrumb:not(.page-template-template-homepage),
	.home.archetype-has-header-widgets {
		.site-header {
			margin-bottom: 1.387em;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 74em) {
	.no-wc-breadcrumb:not(.page-template-template-homepage),
	.home.archetype-has-header-widgets {
		.site-header {
			margin-bottom: 2.125em;
		}
	}
}

@media screen and (max-width: 767px) {
	.site-header {
		.site-branding,
		.site-logo-anchor,
		.site-logo-link {
			margin-right: gutter();
		}
	}
}

@media screen and (min-width: 768px) {
	#navigation {
		background-color: $color-nav-bg;
	}

	.site-info {
		.site-logo-link  {
		  .site-logo,
			.svg-site-logo {
				margin: 0;
			}
		}

		.credit {
			text-align: right;
		}
	}
}