/**
 * Comments
 */

#comments {
  padding-top: 1.875em;
      
  .comments-title {
    margin-bottom: 1.500em;
  }

  .comment-list {
    list-style: none;
    margin: 0;

    .comment-body {
      margin-left: 40px;
      position: relative;
      @include clearfix;
    }

    .comment-content {
      background: $post-background;
      margin-bottom: 1.875em;
      padding: 1.875em;
      position: relative;
      box-shadow: $post-shadow 0px 1px 0px;
      border-radius: $radius;
      
      &:after {
        right: 100%;
        top: 1.125em;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        @include clearfix;
        pointer-events: none;
        border-color: rgba(red($post-background), green($post-background), blue($post-background), 0);
        border-right-color: $post-background;
        border-width: .625em;
        margin-top: -.625em;
      }
    }
    
    .comment-meta {
      border-bottom: 1px solid $color-border;
      font-weight: 300;
      margin-bottom: 1em;
      padding-bottom: .500em;
      @include clearfix;
      
      .comment-author {
        float: left;
      }
      
      .avatar {
        height: auto;
        max-width: 24px;
        position: absolute;
        top: 8px;
        left: -40px;
        border-radius: $radius;
      }
      
      cite {
        font-style: normal;
      }
      
      .reply {
        float: left;
        font-size: .857em;
        line-height: 1.86;
        margin-left: .500em;
      }
    
      a.comment-date {
        display: none;
        font-size: .857em;
        float: right;
        line-height: 1.86;
      }
    }
    
    .bypostauthor {
      cite {
        &:after {
          color: lighten($color-body, 20%);
          content: "Author";
          font-size: .857em;
          font-weight: 300;
          line-height: 1.74;
          margin-left: .500em;
        }
      }
    }
    
    .comment-awaiting-moderation {
      clear: both;
      font-size: .857em;
      display: block;
      width: 100%;
    }

    .comment-edit-link {
      font-size: .857em;
      font-weight: 300;
      line-height: 1.75;
    }

    .children {
      list-style: none;
      margin: 0;
    }
  }
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {}

#respond {
  background: $post-background;
  clear: both;
  margin-bottom: 1.875em;
  padding: 1.875em;
  box-shadow: $post-shadow 0px 1px 0px;
  border-radius: $radius;

  .comment-form-author,
  .comment-form-email,
  .comment-form-url {
    input {
      width: 100%;
    }
  }

  .form-submit,
  form {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  #comments {

    .comment-list {
      @include clearfix;
      
      .comment-content {
        
        &:after {
          top: 1.500em;
          border-width: .750em;
          margin-top: -.750em;
        }
        
        .children & {
          &:after {
            top: 1.125em;
          }
        }
      }
      
      .children .comment-content {
        
        &:after {
          top: 1.125em;
          border-width: .625em;
          margin-top: -.625em;
        }
      }
    
      .comment-body {
        margin-left: 90px;
        
        .children & {
          margin-left: 60px;
        }
      }

      .comment-meta {

        .avatar {
          max-width: 60px;
          left: -90px;
          top: 0px;
        }
        
        cite {
          margin-top: .500em;
        }
        
        a.comment-date {
          display: inline;
        }
      }
      
      .children {
        margin-left: 60px;
        
        .avatar {
          left: -60px;
          max-width: 40px;
        }
      }
    }
  }
}