/**
 * Content
 */

.sticky {
  .entry-title {
    &:before {
      font-family: "FontAwesome";
      font-weight: 400;
      margin-right: .53em;
      content: "\f08d";
    }
  }
}

.hentry {
  background: $post-background;
  margin-bottom: 1.875em;
  padding: 1.875em;
  position: relative;
  box-shadow: $post-shadow 0px 1px 0px;
  border-radius: $radius;

  .wp-post-image {
    margin-bottom: 1.618em;
  }

  .entry-header {
    border-bottom: 3px solid $color-body;
    margin-bottom: 3.631em;

    h1 {
      border-bottom: 1px solid $color-border;
      padding-bottom: .618em;
      margin-bottom: 3px;
    }

    .posted-on,
    .byline {
      font-size: .857em;
    }
  }

  .entry-meta {
    a {
      border-bottom: 1px solid $color-border;

      &:hover {
        border-bottom-color: rgba(0,0,0,0.2);
      }
    }
  }
}
.byline,
.updated:not(.published) {
  display: none;
}
.single, .group-blog {
  .byline {
    display: inline;
  }
}
.page-links {
  clear: both;
  margin: 0 0 $vspacing;
}

.cat-links,
.tags-links,
.comments-link,
.edit-link {
  display: block;
  margin-bottom: 1em;

  &:before {
    content: "\f114";
    font-family: "FontAwesome";
    margin-right: .53em;
    display: inline-block;
    width: 1em;
  }
}

.tags-links {
  &:before {
    content: "\f02b";
  }
}

.comments-link {
  &:before {
    content: "\f0e5";
  }
}

.edit-link {
  &:before {
    content: "\f040";
  }
}

@media screen and (min-width: 768px) {
  .hentry.type-post {
    @include clearfix;

    .entry-meta {
      @include gs-span(c, 1, 2, (1, $grid-content));
      @include gs-float(c, left);
      margin-right: gs-adjust(c, gs-gutter(c), (1, $grid-content), true);
      font-size: .857em;
    }

    .entry-content {
      @include gs-span(c, 3, $grid-content, (1, $grid-content));
      @include gs-float(c, left);
      margin-right: 0;
    }
  }
}
