/**
 * Content
 */

.hentry {
  background: $post-background;
  margin-bottom: 1.875em;
  padding: 1.875em;
  position: relative;
  box-shadow: $post-shadow 0px 1px 0px;
  border-radius: $radius;
  
  &.type-post {
    @include clearfix;
  }
  
  .wp-post-image {
    margin-bottom: 1.618em;
  }

  .entry-header {
    padding-top: .313em;
    margin-bottom: 1.875em;

    h1 {
      margin: 0;
      
      a {
        color: $color-heading;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .entry-meta {
    border-top: 1px solid $color-border;
    font-size: .875em;
    font-weight: 300;
    padding-top: 1.875em;
  
    + .entry-content {
      padding-top: 1.875em;
    }
  }
}

.updated:not(.published) {
  display: none;
}

.page-links {
  clear: both;
  margin: 0 0 $vspacing;
}

.sticky-post {
  background-color: $color-body;
  color: $post-background;
  font-size: .875em;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1.375;
  padding: .250em .750em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  border-radius: 0 0 $radius $radius;
}

.entry-format,
.posted-on,
.byline,
.cat-links,
.tags-links,
.comments-link,
.edit-link {
  margin-right: 1em;

  &:before {
    content: "\f114";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: .375em;
    position: relative;
    width: 1em;
  }
}

.entry-format {
  
  .format-aside & {
    &:before {
      content: "\f192";
    }
  }
  
  .format-gallery & {
    &:before {
      content: "\f00a";
    }
  }
  
  .format-link & {
    &:before {
      content: "\f0c1";
    }
  }
  
  .format-image & {
    &:before {
      content: "\f03e";
    }
  }
  
  .format-quote & {
    &:before {
      content: "\f10d";
    }
  }
  
  .format-status & {
    &:before {
      content: "\f0b0";
    }
  }
  
  .format-video & {
    &:before {
      content: "\f008";
    }
  }
  
  .format-audio & {
    &:before {
      content: "\f001";
    }
  }
  
  .format-chat & {
    &:before {
      content: "\f1d7";
    }
  }
}

.posted-on {
  &:before {
    content: "\f017";
  }
  
  .sticky-post + & {
    display: none;
  }
}

.byline {
  &:before {
    content: "\f007";
  }
}

.tags-links {
  &:before {
    content: "\f02b";
  }
}

.comments-link {
  &:before {
    content: "\f0e5";
  }
}

.edit-link {
  &:before {
    content: "\f040";
  }
}

@media screen and (min-width: 768px) {}
