/**
 * Media
 */

.page-content,
.entry-content,
.comment-content {
  img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    display: inline-block;
  }
}

/**
 * Captions
 */
.wp-caption {
  margin-bottom: $vspacing;
  max-width: 100%;

  img[class*="wp-image-"] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%;
  }
  .wp-caption-text {
    text-align: left;
    font-style: italic;
    border-bottom: 2px solid $color-border;
    padding: 1em 0;
  }
}

/**
 * Galleries
 */
.gallery {

  @extend %clearfix;

  margin-bottom: $vspacing;

  .gallery-item {
    float: left;

    .gallery-icon {
      a { display: block; }

      img {
        border: none;
        height: auto;
        margin-bottom: 0;
      }
    }

    .gallery-caption {
      margin: 0;
      text-align: center;
    }

  }

}

/**
 * 14.1 Captions
 */

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption-text {
  font-size: .938em;
  line-height: 1.5;
  padding: 0.5em 0;
}

/**
 * Fluid Gallery Columns
 */

.gallery {
  margin-bottom: 1.6em;
}

.gallery-item {
  display: inline-block;
  padding: 1.79104477%;
  text-align: center;
  vertical-align: top;
  width: 100%;

  .gallery-columns-2 & {
    max-width: 50%;
    
    &:nth-child(2n+1){
      clear: left;
    }
  }
  
  .gallery-columns-3 & {
    max-width: 33.33%;
    
    &:nth-child(3n+1){
      clear: left;
    }
  }
  
  .gallery-columns-4 & {
    max-width: 25%;
    
    &:nth-child(4n+1){
      clear: left;
    }
  }
  
  .gallery-columns-5 & {
    max-width: 20%;
    
    &:nth-child(5n+1){
      clear: left;
    }
  }
  
  .gallery-columns-6 & {
    max-width: 16.66%;
    
    &:nth-child(6n+1){
      clear: left;
    }
  }
  
  .gallery-columns-7 & {
    max-width: 14.28%;
    
    &:nth-child(7n+1){
      clear: left;
    }
  }
  
  .gallery-columns-8 & {
    max-width: 12.5%;
    
    &:nth-child(8n+1){
      clear: left;
    }
  }
  
  .gallery-columns-9 & {
    max-width: 11.11%;
    
    &:nth-child(9n+1){
      clear: left;
    }
  }
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  display: block;
  font-size: .938em;
  line-height: 1.5;
  padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/**
 * Media Elements
 */
 
.mejs-controls {
  .mejs-time-rail .mejs-time-current {
    background: $color-button-background !important;
  }

  .mejs-button button {
    box-shadow: none !important;
  }
}

/**
 * Fluid Media
 */

.fluid-media {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  
  iframe, 
  object, 
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}
