/**
 * Imports
 */
/**
 * WooCommerce Composite Products
 */
.single-product div.product .component_selections .component_summary {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1em;
  margin-bottom: 1em;
  padding-top: 1em; }
  .single-product div.product .component_selections .component_summary .composited_product_images, .single-product div.product .component_selections .component_summary .images {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 11.86441%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 4%; }
    .single-product div.product .component_selections .component_summary .composited_product_images a, .single-product div.product .component_selections .component_summary .images a {
      margin: 0; }
    .single-product div.product .component_selections .component_summary .composited_product_images img, .single-product div.product .component_selections .component_summary .images img {
      width: 100%;
      height: auto; }
  .single-product div.product .component_selections .component_summary .component_data {
    display: block;
    float: left;
    margin-left: 22.0339%;
    margin-right: -100%;
    width: 77.9661%;
    clear: none;
    float: right;
    margin-right: 0;
    margin-left: 4%;
    margin-left: 0; }
.single-product div.product .component_selections .component_content, .single-product div.product .component_selections .component_options {
  padding: 0; }
.single-product div.product .component_selections .select_label {
  display: block;
  margin-bottom: 1em; }
.single-product div.product .component_selections .component_option_thumbnails {
  margin-bottom: 1.618em; }
  .single-product div.product .component_selections .component_option_thumbnails .component_option_thumbnail {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 11.86441%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 10.16949%;
    margin-bottom: 1.618em;
    box-shadow: none !important;
    opacity: 0.5; }
    .single-product div.product .component_selections .component_option_thumbnails .component_option_thumbnail .image {
      width: 100%;
      height: auto; }
    .single-product div.product .component_selections .component_option_thumbnails .component_option_thumbnail:nth-child(5n) {
      margin-right: 0; }
    .single-product div.product .component_selections .component_option_thumbnails .component_option_thumbnail.selected, .single-product div.product .component_selections .component_option_thumbnails .component_option_thumbnail:hover {
      opacity: 1; }

.archetype-full-width-content.single-product div.product .component_selections .component_summary .composited_product_images, .archetype-full-width-content.single-product div.product .component_selections .component_summary .images {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 20.40816%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 4%; }
  .archetype-full-width-content.single-product div.product .component_selections .component_summary .composited_product_images a, .archetype-full-width-content.single-product div.product .component_selections .component_summary .images a {
    margin: 0; }
.archetype-full-width-content.single-product div.product .component_selections .component_summary .component_data {
  display: block;
  float: left;
  margin-left: 26.53061%;
  margin-right: -100%;
  width: 73.46939%;
  clear: none;
  float: right;
  margin-right: 0;
  margin-left: 4%;
  margin-left: 0; }
.archetype-full-width-content.single-product div.product .component_option_thumbnails .component_option_thumbnail {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 7.14286%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 6.12245%; }
  .archetype-full-width-content.single-product div.product .component_option_thumbnails .component_option_thumbnail:nth-child(5n) {
    margin-right: 6.12245%; }
  .archetype-full-width-content.single-product div.product .component_option_thumbnails .component_option_thumbnail:nth-child(8n) {
    margin-right: 0; }

.swc-product-gallery-stacked.single-product div.product .component_selections .component_summary .composited_product_images, .swc-product-gallery-stacked.single-product div.product .component_selections .component_summary .images, .swc-product-gallery-hidden.single-product div.product .component_selections .component_summary .composited_product_images, .swc-product-gallery-hidden.single-product div.product .component_selections .component_summary .images {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 18.01802%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 4%; }
  .swc-product-gallery-stacked.single-product div.product .component_selections .component_summary .composited_product_images a, .swc-product-gallery-stacked.single-product div.product .component_selections .component_summary .images a, .swc-product-gallery-hidden.single-product div.product .component_selections .component_summary .composited_product_images a, .swc-product-gallery-hidden.single-product div.product .component_selections .component_summary .images a {
    margin: 0; }
.swc-product-gallery-stacked.single-product div.product .component_selections .component_summary .component_data, .swc-product-gallery-hidden.single-product div.product .component_selections .component_summary .component_data {
  display: block;
  float: left;
  margin-left: 23.42342%;
  margin-right: -100%;
  width: 76.57658%;
  clear: none;
  float: right;
  margin-right: 0;
  margin-left: 4%;
  margin-left: 0; }
.swc-product-gallery-stacked.single-product div.product .component_option_thumbnails .component_option_thumbnail, .swc-product-gallery-hidden.single-product div.product .component_option_thumbnails .component_option_thumbnail {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 6.30631%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 5.40541%; }
  .swc-product-gallery-stacked.single-product div.product .component_option_thumbnails .component_option_thumbnail:nth-child(5n), .swc-product-gallery-hidden.single-product div.product .component_option_thumbnails .component_option_thumbnail:nth-child(5n) {
    margin-right: 5.40541%; }
  .swc-product-gallery-stacked.single-product div.product .component_option_thumbnails .component_option_thumbnail:nth-child(9n), .swc-product-gallery-hidden.single-product div.product .component_option_thumbnails .component_option_thumbnail:nth-child(9n) {
    margin-right: 0; }
.swc-product-gallery-stacked.archetype-full-width-content.single-product div.product .component_selections .component_summary .composited_product_images, .swc-product-gallery-stacked.archetype-full-width-content.single-product div.product .component_selections .component_summary .images, .swc-product-gallery-hidden.archetype-full-width-content.single-product div.product .component_selections .component_summary .composited_product_images, .swc-product-gallery-hidden.archetype-full-width-content.single-product div.product .component_selections .component_summary .images {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 13.33333%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 4%; }
  .swc-product-gallery-stacked.archetype-full-width-content.single-product div.product .component_selections .component_summary .composited_product_images a, .swc-product-gallery-stacked.archetype-full-width-content.single-product div.product .component_selections .component_summary .images a, .swc-product-gallery-hidden.archetype-full-width-content.single-product div.product .component_selections .component_summary .composited_product_images a, .swc-product-gallery-hidden.archetype-full-width-content.single-product div.product .component_selections .component_summary .images a {
    margin: 0; }
.swc-product-gallery-stacked.archetype-full-width-content.single-product div.product .component_selections .component_summary .component_data, .swc-product-gallery-hidden.archetype-full-width-content.single-product div.product .component_selections .component_summary .component_data {
  display: block;
  float: left;
  margin-left: 17.33333%;
  margin-right: -100%;
  width: 82.66667%;
  clear: none;
  float: right;
  margin-right: 0;
  margin-left: 4%;
  margin-left: 0; }
.swc-product-gallery-stacked.archetype-full-width-content.single-product div.product .component_option_thumbnails .component_option_thumbnail, .swc-product-gallery-hidden.archetype-full-width-content.single-product div.product .component_option_thumbnails .component_option_thumbnail {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 13.33333%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 4%; }
  .swc-product-gallery-stacked.archetype-full-width-content.single-product div.product .component_option_thumbnails .component_option_thumbnail:nth-child(5n), .swc-product-gallery-stacked.archetype-full-width-content.single-product div.product .component_option_thumbnails .component_option_thumbnail:nth-child(8n), .swc-product-gallery-hidden.archetype-full-width-content.single-product div.product .component_option_thumbnails .component_option_thumbnail:nth-child(5n), .swc-product-gallery-hidden.archetype-full-width-content.single-product div.product .component_option_thumbnails .component_option_thumbnail:nth-child(8n) {
    margin-right: 4%; }
  .swc-product-gallery-stacked.archetype-full-width-content.single-product div.product .component_option_thumbnails .component_option_thumbnail:nth-child(6n), .swc-product-gallery-hidden.archetype-full-width-content.single-product div.product .component_option_thumbnails .component_option_thumbnail:nth-child(6n) {
    margin-right: 0; }
