/**
 * Content
 */

.page-header {
  background: $color-post-bg;
  margin-bottom: 2.618em;
  padding: 2.618em;
  box-shadow: 5px 0px 0px $color-body inset;
  border-radius: 0 $radius-post $radius-post 0;
  
  .page-title {
    margin-bottom: 0;
  }
  
  .archive-description {
    font-weight: 300;
    
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.hentry {
  background: $color-post-bg;
  margin-bottom: 2.618em;
  position: relative;
  box-shadow: 0px -1px 0px $color-post-shadow inset;
  border-radius: $radius-post;
  overflow: hidden;
  
  &.type-post {
    @include clearfix;
  }
  
  .post-thumbnail {
  	border: 0;
  	display: block;
  }
  .post-thumbnail img {
  	display: block;
  	margin: 0 auto;
  }

  .entry-header {
    padding: 2.618em;

    h1 {
      margin: 0;
      
      a {
        color: $color-heading;
        
        &:hover {
          text-decoration: none;
          border-bottom: 1px solid $color-heading;
        }

        &:focus {
          border-bottom: 0;
        }
      }
    }
  }
  
  .entry-meta {
    border-top: 1px solid $color-post-border;
    font-size: .875em;
    font-weight: 300;
    padding: 2.618em;
  }
  
  .entry-content {
    padding: 2.618em;
    padding-top: 0;
    
    .entry-meta + & {
      padding-top: 2.618em;
    }
  }
}

.updated:not(.published) {
  display: none;
}

.page-links {
  clear: both;
  margin: 0 0 $spacing-v;
}

.sticky-post {
  background-color: $color-body;
  color: $color-post-bg;
  font-size: .875em;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1.375;
  padding: .250em .750em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  border-radius: 0 0 $radius-post $radius-post;
}

.entry-format,
.posted-on,
.byline,
.cat-links,
.tags-links,
.full-size-link,
.comments-link,
.edit-link {
  margin-right: 1em;

  &:before {
    content: "\f114";
    display: inline-block;
    font-family: "FontAwesome";
    margin-right: .375em;
    position: relative;
    width: 1em;
  }
}

.entry-format {
  
  .format-aside & {
    &:before {
      content: "\f192";
    }
  }
  
  .format-gallery & {
    &:before {
      content: "\f00a";
    }
  }
  
  .format-link & {
    &:before {
      content: "\f0c1";
    }
  }
  
  .format-image & {
    &:before {
      content: "\f03e";
    }
  }
  
  .format-quote & {
    &:before {
      content: "\f10d";
    }
  }
  
  .format-status & {
    &:before {
      content: "\f0b0";
    }
  }
  
  .format-video & {
    &:before {
      content: "\f008";
    }
  }
  
  .format-audio & {
    &:before {
      content: "\f001";
    }
  }
  
  .format-chat & {
    &:before {
      content: "\f1d7";
    }
  }
}

.posted-on {
  &:before {
    content: "\f017";
  }
  
  .sticky-post + & {
    display: none;
  }
}

.byline {
  &:before {
    content: "\f007";
  }
}

.tags-links {
  &:before {
    content: "\f02b";
  }
}

.full-size-link {
  &:before {
    content: "\f00e";
  }
}

.comments-link {
  &:before {
    content: "\f0e5";
  }
}

.edit-link {
  &:before {
    content: "\f040";
  }
}

@media screen and (max-width: 568px) {
  .page-header {
    margin-bottom: 1.387em;
    padding: 1.387em;
  }
  
  .hentry {
    margin-bottom: 1.387em;
    
    .entry-header {
      padding: 1.387em;
    }
    
    .entry-meta {
      padding: 1.387em;
    }
    
    .entry-content {
      padding: 1.387em;
      padding-top: 0;
      
      .entry-meta + & {
        padding-top: 1.387em;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 74em) {
  .page-header {
    margin-bottom: 2.125em;
    padding: 2.125em;
  }
  
  .hentry {
    margin-bottom: 2.125em;
    
    .entry-header {
      padding: 2.125em;
    }
    
    .entry-meta {
      padding: 2.125em;
    }
    
    .entry-content {
      padding: 2.125em;
      padding-top: 0;
      
      .entry-meta + & {
        padding-top: 2.125em;
      }
    }
  }
}
