.archetype-hero {
	text-align: center;
	background-position: 50% 0;
}

section + .archetype-hero {
	margin-top: 0;
}

.archetype-hero .col-full {
	padding: 5.250em 0;
}

.archetype-hero-has-grid {
	.archetype-hero-content,
	.archetype-hero-media {
		visibility: hidden;

		.no-js & {
			visibility: visible;
		}
	}
}

.archetype-hero-media {
	margin-bottom: -5.250em;
	margin-top: 2.625em;
	position: relative;
}

.archetype-hero-buttons {
	.button {
		margin: .25em;
	}
}

.archetype-hero.expand-full-width {
	padding: 0 2.625em;

	.archetype-hero-overlay {
		padding: 0 2.625em;
	}
}

@media screen and (max-width: 74em) {
	.archetype-hero.expand-full-width {
		.archetype-hero-overlay {
			position: relative;
			margin: 0 -2.625em;
		}
	}
}

@media screen and (min-width: 74em) {
	.archetype-hero.expand-full-width {
		.archetype-hero-overlay {
			.is-boxed &,
			.is-full-width & {
				margin: 0 -2.625em;
				padding: 0 2.625em;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.archetype-hero.left {
		text-align: left;
	}

	.archetype-hero.right {
		text-align: right;
	}

	.archetype-hero-has-grid {
		.archetype-hero-media {
			margin-top: 0;
		}
	}
}

/**
 * Phone
 */
 
@media screen and (max-width: 568px) {
	.archetype-hero.expand-full-width {
		padding: 0 1.387em;

		.archetype-hero-overlay {
			margin: 0 -1.387em;
			padding: 0 1.387em;
		}
	}
	
	.archetype-hero .col-full {
		padding: 2.750em 0;
	}

	.archetype-hero-media {
		margin-bottom: -2.750em;
		margin-top: 1.387em;
	}
}

/**
 * Tablet
 */

@media screen and (min-width: 768px) and (max-width: 74em) {
	.archetype-hero.expand-full-width {
		padding: 0 2.125em;

		.archetype-hero-overlay {
			margin: 0 -2.125em;
			padding: 0 2.125em;
		}
	}

	.archetype-hero .col-full {
		padding: 4.25em 0;
	}

	.archetype-hero-media {
		margin-bottom: -4.25em;
		margin-top: 2.125em;
	}
}
