// Grid

$susy: (
  columns: 12,
  gutters: .8,
  math: fluid,
  output: float,
  gutter-position: after
);


// Font Stacks

$font-base:                     "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-mono:                     Monaco, Menlo, Consolas, "Courier New", monospace;
$font-heading:                  $font-base;


// Body

$color-body:                    #555;
$color-body-bg:                 #f1f1f1;


// Headings

$color-heading:                 #333;


// Links

$color-link:                    #ee543f;
$color-link-hover:              #111;


// Header

$color-header:                  #888;
$color-header-bg:               #353b3f;
$color-header-link:             #aaa;
$color-header-link-hover:       #ee543f;


// Navigation

$color-nav-bg:                  darken( $color-header-bg, 5% );
$color-nav-link-active-bg:      darken( $color-nav-bg, 2.5% );
$color-nav-link-hover-bg:       lighten( $color-nav-bg, 2.5% );
$color-nav-link:                #bbb;
$color-nav-link-active:         #fff;
$color-nav-link-hover:          #fff;

$color-nav-alt:                 $color-header;
$color-nav-alt-bg:              lighten( $color-header-bg, 5% );
$color-nav-alt-link-active-bg:  darken( $color-nav-alt-bg, 2.5% );
$color-nav-alt-link-hover-bg:   lighten( $color-nav-alt-bg, 2.5% );
$color-nav-alt-link:            #ddd;
$color-nav-alt-link-active:     #fff;
$color-nav-alt-link-hover:      #fff;


// Post

$color-post-bg:                 #fff;
$color-post-border:             #e5e5e5;
$color-post-shadow:             #8b949b;


// Search

$color-search-bg:               #fff;
$color-search-shadow:           $color-post-shadow;


// Forms

$color-input:                   $color-body;
$color-input-focus:             darken( $color-input, 10% );
$color-input-bg:                darken( $color-body-bg, 5% );
$color-input-bg-focus:          darken( $color-body-bg, 10% );


// Footer

$color-footer:                  $color-header;
$color-footer-bg:               $color-header-bg;
$color-footer-heading:          #eee;
$color-footer-lower:            $color-footer;
$color-footer-lower-bg:         darken( $color-footer-bg, 5% );

$color-link-footer:             #ee543f;
$color-link-footer-hover:       #fff;


// Buttons

$color-button:                  #fff;
$color-button-hover:            $color-body;
$color-button-bg:               #ed543f;
$color-button-bg-hover:         #fff;
$color-button-border:           #d94834;
$color-button-border-hover:     #8b949b;
$color-button-shadow:           $color-button-border;
$color-button-shadow-hover:     $color-button-border-hover;


// Cart

$color-nav-alt-subtotal:        #eee;


// Notices

$color-error:                   #f75f46;
$color-success:                 #36c478;
$color-info:                    #3D9CD2;


// Spacing

$spacing-v:                     1.500em;
$spacing-v-smaller:             1em;


// Border Radius

$radius-post:                   0px;
$radius-button:                 3px;
$radius-avatar:                 3px;
