// Font Stacks

$font-base:                     "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$font-mono:                     Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-heading:                  $font-base !default;


// Grid Layout

$grid-content:                  8 !default;
$grid-sidebar:                  4 !default;


// Color Scheme

$color-body-bg:                 #f1f1f1 !default;
$color-header-bg:               #353b3f !default;

$color-post-bg:                 #fff !default;
$color-post-border:             #e5e5e5 !default;
$color-post-shadow:             #8b949b !default;

$color-body:                    #555 !default;
$color-header:                  #888 !default;
$color-heading:                 #333 !default;

$color-link:                    #ee543f !default;
$color-link-hover:              #111 !default;

$color-button:                  #fff !default;
$color-button-bg:               #ed543f !default;
$color-button-border:           #d94834 !default;
$color-button-shadow:           $color-button-border !default;

$color-button-hover:            $color-body !default;
$color-button-hover-bg:         #fff !default;
$color-button-hover-border:     #8b949b !default;
$color-button-hover-shadow:     $color-button-hover-border !default;

$error:                         #e2401c !default;
$success:                       #17ba6f !default;
$info:                          #3D9CD2 !default;


// Spacing

$spacing-v:                     1.500em !default;


// Border Radius

$radius-post:                   0px !default;
$radius-button:                 3px !default;
$radius-avatar:                 3px !default;