// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$base-font:        "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$mono-font:        Monaco, Menlo, Consolas, "Courier New", monospace;
$header-font:      $base-font;
$grid-content:     8;
$grid-sidebar:     4;

// Color Scheme
$body-background:               #f1f1f1;
$header-background:             #353b3f;
$post-background:               #fff;
$post-shadow:                   #8b949b;
$color-body:                    #555;
$color-header:                  #888;
$color-heading:                 #333;
$color-link:                    #ee543f;
$color-link-hover:              #111;

$color-button:                  #fff;
$color-button-background:       #ed543f;
$color-button-border:           #d94834;
$color-button-shadow:           $color-button-border;

$color-button-hover:            $color-body;
$color-button-hover-background: #fff;
$color-button-hover-border:     #8b949b;
$color-button-hover-shadow:     $color-button-hover-border;

$color-border:                  rgba(0,0,0,0.1);

$error:                         #e2401c;
$success:                       #17ba6f;
$info:                          #3D9CD2;
$vspacing:                      1.500em;
$radius:                        3px;